@model HanyAddressBookGet.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpHomeTel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpHomeTel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpDateofBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpDateofBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title.TitleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title.TitleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
